script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(src="/bower_components/navigo/lib/navigo.js")
script(src="/bower_components/toastr/toastr.js")

script(src="/js/notifier.js")
script(src="/js/validator.js")
script(src="/js/requester.js")
script(src="/js/controller.js")
script(src="/js/router.js") 