head
    meta(charset="UTF-8")
    title WebDJs

    link(rel="icon", href="/images/icon-36x36.png")

    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/bower_components/bootstrap-select/dist/css/bootstrap-select.css")
    link(rel="stylesheet", href="/bower_components/toastr/toastr.css")
    
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/dictionary.css")
    link(rel="stylesheet", href="/css/tasks.css")
    link(rel="stylesheet", href="/css/tests.css")