extends ../shared/layout

block main-content
    div.form-container
        h3 LogIn
        hr
        form(method="post")
            label(for="username") Username
            input(id="username" value="" class="form-control" type="text" name="username" placeholder="Username")
            br
            label(for="password") Password
            input(id="password" value="" class="form-control" type="password" name="password" placeholder="Password")
            br
            input(id="btn-login" type="submit" class="btn btn-success" value="Login")