extends shared/layout
block main-content
    div(style='padding-left: 20px')
        p(style='margin-left: 20px;')
        h2(align='center') Wellcome!
        h3(align='center') This application helps you in learning web with HTML5 and JavaScript.
        h3(align='center') With this application you can test your web knowlage and skills.
        br
        h4(align='center', style='text-decoration: underline') It includes tests, tasks and dictionary about web technologies like:
        ul(align='center')
            li
            h4 HTML, CSS, Bootstrap, LESS, SASS, Stylus
            li
            h4 JavaScript, JQuery, TypeScript, Angular, React
            li
            h4 Node.js, Express
            li
            h4 MongoDB, Mongoose
        br
        br
        h4(align='center') Registration is free and required because of feedback.
        p
