style.
  #main-logged-container {
  background-color: whitesmoke;
  max-width: 70%;
  }
  .gallery {
  display: inline-block;
  }
  .gallery .image-container {
  float: left;
  width: 250px;
  height: 200px;
  margin: 5px;
  border: 2px solid black;
  }
  .gallery .image-container:hover {
  background-color: lightgray;
  }
  .gallery .image-container img {
  width: 100%;
  height: 100%;
  }
  .img-logo {
  max-width: 70%;
  max-height: 150px;
  display: block;
  margin: 0 auto;
  }
  .gallery-list .image-container {
  padding-top: 2%;
  }
#main-logged-container
  #root(style='margin-top:50px; margin-left:50px;')
    #gallery
      .gallery-list
        | {{#each logo}}
        .image-container
          a(href='#/{{ name }}')
            img.img-logo(src='{{ path }}', alt='{{ name }}', data-info='{{ num }}')
        |                 {{/each}}
script.
  $.fn.gallery = function (columnsPerRow) {
  columnsPerRow = columnsPerRow || 3;
  var $this = $(this);
  var $galleryList = $this.children(".gallery-list ");
  $galleryList.on("click", "img", function () {
  });
  $this.addClass("gallery");
  return this;
  };
  $(function () {
  $("#gallery").gallery(3);
  });
