#wrapper {
    background-color: whitesmoke;
}

#main-logo-name {
    color: whitesmoke;
    font-size: 1.7em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

a {
    font-size: 16px
}

.term-value:hover {
    font-size: 22px;
    font-weight: bold
}

#term-definition {
    text-align: justify
}

ul {
    list-style-type: none;
}

.btn {
    margin-right: 3%;
    margin-left: 3%;
}

.navBtn {
    max-height: 40px
}

.log-in-form, .register-form {
    min-width: 550px;
    background-color: whitesmoke;
    border: 1px solid gray;
    margin: 2px
}

.log-form {
    margin: 2px
}

.langs {
    text-align: center;
    font-size: 20px;
}

.invisible {
    display: none;
}

main {
    background-color: whitesmoke;
    min-height: 420px
}

.search {
    margin-top: -9px
}

.items-list {
    min-height: 360px;
    max-height: 360px;
    border: 1px solid darkgrey;
    background-color: ghostwhite;
    margin-top: 11px;
    font-size: 18px;
    overflow: scroll;
}

.add-menu {
    margin-top: 2%;
    margin-left: 5%
}

#title {
    max-height: 45px;
    font-size: 28px;
    font-weight: bolder;
    text-align: left;
    color: steelblue;
    margin-top: -18px
}

#title-value {
    margin-top: 5px
}

.text {
    min-width: 100%;
    max-width: 100%;
    min-height: 360px;
    max-height: 360px;
    font-size: 22px;
    color: steelblue;
}

.links {
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    max-height: 50px;
    font-size: 24px;
    color: gray;
}

footer {
    min-height: 80px;
    background-color: black;
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    padding: 2%;
    margin-top: 0px
}

#github:hover {
    border: 2px solid black
}

#dict-container {
    border-bottom: 2px solid black;
    min-height: 460px
}

.add-label {
    margin-bottom: -13px;
    color: steelblue;
}

.img-nav {
    width: 30px;
    height: 30px;
    margin-left: 25%;
    display: inline-block;
}

.ctx-obj {
    display: inline;
    max-width: 50px
}