extends ../shared/layout
block main-content
    form(method="post")
        .log-in-form
            .log-form
            h1 Log In
            hr
            .form-group
                label(for="tb-username-log") Username: 
                .input-group
                span.input-group-addon
                    span.glyphicon.glyphicon-user
                input#tb-username-log.form-control(type="text")
            .form-group
                label(for="tb-password-log") Password: 
                .input-group
                span.input-group-addon
                    span.glyphicon.glyphicon-lock
                input#tb-password-log.form-control(type="password")
            a#btn-login.btn.btn-success Log In