extends ../shared/layout
block main-content
    form(method="post")
        .register-form
            .log-form
            h1 Register
            hr
            .form-group
                label(for="tb-username glyphicon glyphicon-user") Username: 
                .input-group
                span.input-group-addon
                    span.glyphicon.glyphicon-user
                input#tb-username.form-control(type="text")
            .form-group
                label(for="tb-passworn") Password: 
                .input-group
                span.input-group-addon
                    span.glyphicon.glyphicon-lock
                input#tb-password.form-control(type="password")
            .form-group
                label(for="tb-passworn-confirm") Confirm Password: 
                .input-group
                span.input-group-addon
                    span.glyphicon.glyphicon-lock
                input#tb-password-confirm.form-control(type="password")
            a#btn-register.btn.btn-primary Sign Up