extends shared/layout-logged

block main-content
  div(style="padding-left: 20px")
    div.logosContainer
      each logo in logos
        div.logoContainer
          a.logoLink
            img.logoImg(src= logo.path, alt= logo.name)
  
    div.jumbotron.text-center
      p.taskTitle   HTML Exercices 1
      img.taskImgLogo(src="images/logos/html.png", alt='HTML')
      p.taskDescription You can test your HTML skills here 
      br
      button.taskButton(onclick="location.href = '/single-task';") View Exercices
      p.taskDate 
        |13.05.2016
      p.taskCreator Created by :  Mapo
    br
    div.jumbotron.text-center
      p.taskTitle   HTML Exercices 2
      img.taskImgLogo(src="images/logos/html.png", alt='HTML')
      p.taskDescription You can test your HTML skills here 
      br
      button.taskButton(onclick="location.href = '/single-task';") View Exercices
      p.taskDate
        |13.05.2016
      p.taskCreator
        |Created by :
        |    Mapo 
    br 
    div.jumbotron.text-center
      p.taskTitle   HTML Exercices 3
      img.taskImgLogo(src="images/logos/html.png", alt='HTML')
      p.taskDescription You can test your HTML skills here 
      br
      button.taskButton(onclick="location.href = '/single-task';") View Exercices
      p.taskDate 
        |13.05.2016
      p.taskCreator 
        |Created by :
        |    Mapo 
    br     