extends shared/layout-logged

block main-content
  div(style="padding-left: 20px")
      div.logosContainer
          each logo in logoes
              div.logoContainer
                  a.logoLink
                      img.logoImg(src= logo.path, alt= logo.name)
  br
  div
    .container-fluid
  .row.content
    .col-sm-3
      .input-group.search
        input.form-control(type='text', placeholder='Search...')
        span.input-group-btn
          button.btn.btn-default(type='button')
            span.glyphicon.glyphicon-search
      ul#terms.nav.nav-pills.nav-stacked.items-list
      .row
        .add-menu.dropup
          a#dict-add.btn.btn-primary.col-md-3.btn.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Add
          .dropdown-menu(style='min-width: 100%; max-width: 100%; min-height: 420px; max-height: 420px; font-size: 28px;')
            form(method='post', action='/add')
              label.add-label(for='tb-title', style='margin-left: 1%')
                h5 Title:
              .row(style="margin-left: 1%")
                input#tb-title.form-control.col-md-8(name='title', type='text', placeholder='Title of the term...', style='min-width: 60%; max-width: 60%; margin: 1%')
                select.selectpicker.col-md-4(name='tag')
                  option html
                  option css
                  option bootstrap
                  option less
                  option sass
                  option stylus
                  option js
                  option jquery
                  option ts
                  option angular
                  option react
                  option nodejs
                  option express
                  option mongodb
                  option mongoose
              label.add-label(for='tb-description', style='margin-left: 1%')
                h5 Description:
              textarea#tb-description.form-control(name='description', type='text', placeholder='Description of the term...', style='min-width: 98%; max-width: 98%; min-height: 120px; max-height: 120px; margin: 1%')
              label.add-label(for='tb-example', style='margin-left: 1%')
                h5 Examples (set urls separated with space):
              input#tb-example.form-control(name='examples', type='url', placeholder='http://pastebin.com   http://www.github.com', style='min-width: 98%; max-width: 98%; margin: 1%')
              label.add-label(for='tb-info', style='margin-left: 1%')
                h5 More information link (set an url):
              input#tb-info.form-control(name='info', type='url', placeholder='http://www.w3schools.com', style='min-width: 98%; max-width: 98%; margin: 1%')
              input#btn-add-item.btn.btn-default.btn-md(type='submit', value='Save', style='min-width: 93%')
          a#dict-delete.btn.btn-danger.col-md-3(href='#') Delete
          a#dict-edit.btn.btn-success.col-md-3(href='#') Edit
      hr
    .col-sm-9
      #title
        #title-value
          p#term-name
      .row
        .col-md-6
          textarea#term-definition.text
        .col-md-6(style='font-size: 22px; color: gray; font-weight: bold;')
          | Examples:
          #term-examples.text
      .row
        .col-md-12(style='margin-top: -15px;')
          a#term-more.links(href='#', target='_blank') More information
