extends shared/layout

block main-content
  div(style="padding-left: 20px")
      div.logosContainer
          each logo in logoes
              div.logoContainer
                  a.logoLink
                      img.logoImg(src= logo.path, alt= logo.name)
  br
  div
    .container-fluid
  .row.content
    .col-sm-3
      .input-group.search
        input.form-control(type='text', placeholder='Search...')
        span.input-group-btn
          button.btn.btn-default(type='button')
            span.glyphicon.glyphicon-search
      ul#terms.nav.nav-pills.nav-stacked.items-list
        each term in terms
          li
            a= term
         
      hr
    .col-sm-9
      #title
        #title-value
          p#term-name
      .row
        .col-md-6
          textarea#term-definition.text
        .col-md-6(style='font-size: 22px; color: gray; font-weight: bold;')
          | Examples:
          #term-examples.text
      .row
        .col-md-12(style='margin-top: -15px;')
          a#term-more.links(href='#', target='_blank') More information
