extends shared/layout

block main-content
    div(style="padding-left: 20px")
        div.logosContainer
            each logo in logos
                div.logoContainer
                    img.logoImg(src= logo.path, alt= logo.name)
    br
            