extends shared/layout

block main-content
    div(style="padding-left: 20px")
        div.logosContainer
            each logo in logos
                div.logoContainerHome
                    div.logoForNow
                        img.logoImgHome(src= logo.path, alt= logo.name)
                    div.imgDescription
                        a.logoLink(href="/dict-not-logged")
                            div.homeImgContent
                                h2 = logo.title
                                p = logo.description
    br
