extends shared/layout

block main-content
    div(style="padding-left: 20px")
        div.logosContainer
            each logo in logos
                div.logoContainerHome
                    a.logoLink(href="/dict-not-logged")
                        img.logoImgHome(src= logo.path, alt= logo.name)
    br
            