extends shared/layout
block main-content
    div(style="padding-left: 20px")
        p(style="margin-left: 20px")
        h2(align="center") Wellcome!
        h3(align="center") This application helps you in learning web with HTML5 and JavaScript.
        h3(align="center") With this application you can test your web knowlage and skills. 
        br
        h1 Logo images matrix links
        br
        br
        h4(align="center") Registration is free and required because of feedback.
        br
