extends shared/layout-logged

block main-content
    img.singleTaskBack(src="images/back.png", alt='back',onclick="location.href = '/tasks';")
    p.singleTaskTitle Let see what's your task
    div.primaryContainer 
        div.singleTaskContainer
            p.titleP Task
            p.textP  
               | Write an HTML page like in the Expectation!
        div.singleExpectationContainer
            p.titleP Expectation
            img.singleTaskExam(src="images/singleTaskExpectations/html1.png", alt='html')
        div.singleAnswerContainer
            p.titleP Your answer
            p.textP  
               | Write your answer here :
            input.inputField(type="text")
            button.answerButton Submit 
    br
    br   
        