extends shared/layout-logged

block main-content
  div(style="padding-left: 20px")
    div.logosContainer
      each logo in logos
        div.logoContainer
          a.logoLink
            img.logoImg(src= logo.path, alt= logo.name)
  
    div.jumbotron.text-center
      p.title   HTML Exercices 1
        p.description You can test your HTML skills here 
      br
      button.taskButton View Exercices
      p.date 
        |13.05.2016
      p.creator 
        |Created by :
        |    Mapo
    br
    div.jumbotron.text-center
      p.title   HTML Exercices 2
        p.description You can test your HTML skills here 
      br
      button.taskButton View Exercices
      p.date 
        |13.05.2016
      p.creator 
        |Created by :
        |    Mapo 
    br 
    div.jumbotron.text-center
      p.title   HTML Exercices 3
        p.description You can test your HTML skills here 
      br
      button.taskButton View Exercices
      p.date 
        |13.05.2016
      p.creator 
        |Created by :
        |    Mapo 
    br     