extends shared/layout-logged

block main-content
  div(style='padding-left: 20px; padding-top: 5px')
    span
      h3(style='display: inline-block')  Test      
    span
      h3#timer(style='display: inline-block') 60:00 min
    span
      button start

      dl.items-list(style='max-width: 70%; padding-left: 5px;')
        br
        dt Question?
          dd
            input(name='answer', type='radio') 
            | Answer 1
            br
            input(name='answer', type='radio') 
            | Answer 2 
            br
            input(name='answer', type='radio') 
            | Answer 3
            br
            input(name='answer', type='radio') 
            | Answer 4 
      br       
      a.btn.btn-primary(href='#', style='display: block; margin: 0 auto; width: 30%; margin-bottom: 5px') Submit
