extends shared/layout-logged

block main-content 

  style.
    td.td-quest {
      width: 200px
    }

  div(style="padding-left: 20px")
    div.logosContainer
      each logo in logos
        div.logoContainer
          a.logoLink
            img.logoImg(src= logo.path, alt= logo.name)
  br

  div(style="padding-left: 20px; padding-top: 5px")
    script(type="text/javascript").
      function timeCounter(){   
            return $("#timer").timer({
            countdown: true,
            duration: "60m00s",      // This will start the countdown from 60 min back
            callback: function() {  // This will execute after the duration has elapsed
                console.log("Time up!");
            }
        });
      }
    button(onclick = "timeCounter()")
      img(src="images/start.jpg", alt="START NOW", width="80px", height="84px")
    span
      h1(style="display: inline-block; padding-left: 5em;")  Test     
    span
      h3#timer(style="display: inline-block; margin-left: 5em;")
    .row
      .col-md-7
        dl.items-list(style="max-width: 90%; padding-left: 5px;")
          br
          each question in questions
            dt= question.question
              each answer in question.answers
                dd
                  input(id=answer.answer name=question.question type="radio" style="margin-left: 1em") 
                  labal(for=answer.answer style="margin-left: 1em")= answer.answer 
            br
          br
      .col-md-4
        table
          tr
            td.td-quest.td-name(colspan="4")
              h3 Questions:
          tr
            td.td-quest
              button.buttons 01
            td.td-quest
              button.buttons 02
            td.td-quest
              button.buttons 03
            td.td-quest
              button.buttons 04
            td.td-quest
              button.buttons 05
            td.td-quest
              button.buttons 06
            td.td-quest
              button.buttons 07
            td.td-quest
              button.buttons 08
            td.td-quest
              button.buttons 09
            td.td-quest
              button.buttons 10
          tr
            td.td-quest
              button.buttons 11
            td.td-quest
              button.buttons 12
            td.td-quest
              button.buttons 13
            td.td-quest
              button.buttons 14
            td.td-quest
              button.buttons 15
            td.td-quest
              button.buttons 16
            td.td-quest
              button.buttons 17
            td.td-quest
              button.buttons 18
            td.td-quest
              button.buttons 19
            td.td-quest
              button.buttons 20
          tr
            td.td-quest
              button.buttons 21
            td.td-quest
              button.buttons 22
            td.td-quest
              button.buttons 23
            td.td-quest
              button.buttons 24
            td.td-quest
              button.buttons 25
            td.td-quest
              button.buttons 26
            td.td-quest
              button.buttons 27
            td.td-quest
              button.buttons 28
            td.td-quest
              button.buttons 29
            td.td-quest
              button.buttons 30
          tr
            td.td-quest
              button.buttons 31
            td.td-quest
              button.buttons 32
            td.td-quest
              button.buttons 33
            td.td-quest
              button.buttons 34
            td.td-quest
              button.buttons 35
            td.td-quest
              button.buttons 36
            td.td-quest
              button.buttons 37
            td.td-quest
              button.buttons 38
            td.td-quest
              button.buttons 39
            td.td-quest
              button.buttons 40
          tr
            td.td-quest
              button.buttons 41
            td.td-quest
              button.buttons 42
            td.td-quest
              button.buttons 43
            td.td-quest
              button.buttons 44
            td.td-quest
              button.buttons 45
            td.td-quest
              button.buttons 46
            td.td-quest
              button.buttons 47
            td.td-quest
              button.buttons 48
            td.td-quest
              button.buttons 49
            td.td-quest
              button.buttons 50
          tr
            td.td-quest
              button.buttons 51
            td.td-quest
              button.buttons 52
            td.td-quest
              button.buttons 53
            td.td-quest
              button.buttons 54
            td.td-quest
              button.buttons 55
            td.td-quest
              button.buttons 56
            td.td-quest
              button.buttons 57
            td.td-quest
              button.buttons 58
            td.td-quest
              button.buttons 59
            td.td-quest
              button.buttons 60
        br
        br
        a.btn.btn-primary(href="#", style="display: inline-block; width: 100px; margin-bottom: 5px; margin-left: 20em;") Submit 
        br
        br
        br
        .row
          .add-menu.dropup
            a#dict-add.btn.btn-success.col-md-3.btn.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Add
            .dropdown-menu(style="min-width: 93%; max-width: 93%; min-height: 400px; max-height: 495px; font-size: 28px;")
              form#add-form(method='post', action='/add')
                label.add-label(for='tb-title', style='margin-left: 1%')
                  h5 Question:
                .row(style="margin-left: 3px")
                  input#tb-title.form-control.col-md-8(name='title', type='text', placeholder='Question...', style='min-width: 75%; max-width: 75%; margin: 1%')
                  select.col-md-4(name="tag", style="margin-top: 5px; min-height: 30px; max-width: 18%; font-size: 18px")   
                    option html
                    option css
                    option bootstrap
                    option less
                    option sass
                    option stylus
                    option js
                    option jquery
                    option ts
                    option angular
                    option react
                    option nodejs
                    option express
                    option mongodb
                label.add-label(for='tb-description', style='margin-left: 1%')
                  h5 Answer a:
                input#tb-description.form-control(name='description', type='text', placeholder='Answer...', style='min-width: 98%; max-width: 98%; margin: 1%')
                label.add-label(for='tb-example', style='margin-left: 1%')
                  h5 Answer b:
                input#tb-description.form-control(name='description', type='text', placeholder='Answer...', style='min-width: 98%; max-width: 98%; margin: 1%')
                label.add-label(for='tb-example', style='margin-left: 1%')
                  h5 Answer c:
                input#tb-description.form-control(name='description', type='text', placeholder='Answer...', style='min-width: 98%; max-width: 98%; margin: 1%')
                label.add-label(for='tb-example', style='margin-left: 1%')
                  h5 Answer d:
                input#tb-description.form-control(name='description', type='text', placeholder='Answer...', style='min-width: 98%; max-width: 98%; margin: 1%')
                label.add-label(for='tb-example', style='margin-left: 1%')
                 
                input#btn-add-item.btn.btn-default.btn-md(type='submit', value='Save', style='min-width: 22%')
