#wrapper {
    background-color: whitesmoke;
}

nav {
    border-bottom: 1px solid whitesmoke
}

#main-logo-name {
    color: whitesmoke;
    font-size: 1.7em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.term-value:hover {
    font-size: 22px;
    font-weight: bold
}

#term-definition {
    text-align: justify
}

ul {
    list-style-type: none;
}

.btn {
    margin-right: 3%;
    margin-left: 3%;
}

.navBtn {
    max-height: 40px;
    margin-top: 7px
}

.langs {
    text-align: center;
    font-size: 20px;
}

.invisible {
    display: none;
}

main {
    background-color: whitesmoke;
    min-height: 460px
}

.form-container {
    max-width: 660px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.search {
    margin-top: -9px
}

.items-list {
    min-height: 360px;
    max-height: 360px;
    border: 1px solid darkgrey;
    background-color: ghostwhite;
    margin-top: 11px;
    font-size: 18px;
    overflow: scroll;
}

.add-menu {
    margin-top: 2%;
    margin-left: 5%
}

footer {
    min-height: 80px;
    background-color: black;
    color: whitesmoke;
    font-size: 22px;
    text-align: center;
    padding: 2%;
    margin-top: 0px
}

#github {
    background-color: whitesmoke;
    max-width: 40px;
    display: block;
    margin: 0 auto;
}

#github:hover {
    border: 1px solid black
}

#dict-container {
    border-bottom: 2px solid black;
    min-height: 460px
}

.add-label {
    margin-bottom: -13px;
    color: steelblue;
}

.img-nav {
    width: 30px;
    height: 30px;
    margin-left: 25%;
    display: inline-block;
}

.ctx-obj {
    display: inline;
    max-width: 50px
}

.logged {
    background: lightgray;
    min-height: 360px
}

.logoContainerHome {
    position: relative;
    min-width: 21em;
    max-width: 21em;
    min-height: 20em;
    padding: 1ex;
    border: 2px solid black;
    border-radius: 3px;
    margin-left: 4px;
    margin-bottom: 4px;
    display: inline-block;
    text-decoration: none
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    font-weight: bold;
    background: lightgray;
    color: black;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.logoContainerHome:hover {
    opacity: 0.9;
    text-decoration: none
}

.logoContainerHome:hover .imgDescription {
    visibility: visible;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    opacity: 0.9;
}

.logoContainerHome:hover .logo-description {
    padding: 3px;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}

.logoContainer {
    padding: 1ex;
    border: 2px solid black;
    border-radius: 3px;
    margin-left: 4px;
    margin-bottom: 4px;
    display: inline-block;
    min-width: 6em;
    max-width: 6em;
    text-decoration: none
}

.logoContainer:hover {
    background-color: lightgray;
    text-decoration: none
}

.logoImg {
    width: 99%;
    height: 70px;
}

.logoImgHome {
    margin-left: 14%;
    margin-top: 14%;
    width: 70%;
    height: 175px;
}

.info:hover {
    visibility: visible;
    text-decoration: none
}