nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/main')
        img#brand(alt='Brand', src='./images/icon-36x36.png')
        a#main-logo-name.navbar-brand WebDJs   
      button.btn.btn-success.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.navHeaderCollapse
      ul.nav.navbar-nav.navbar-right
        li#profile.nav
          a#btn-profile.btn(href='/profile') Username
        li#logout.nav
          a#btn-logout.btn(href='/logout') LogOut
      ul#main-menu.nav.navbar-nav.navbar-center
        li#test
          a#test-btn.btn-default.navBtn(href='/test') Test
        li    
        li#tasks
          a#tasks-btn.btn-default.navBtn(href='/problem') Problem
        li    
        li#dictIt
          a#dict-btn.btn-default.navBtn(href='/dict') Dictionary
        li                       
        li.nav.dropdown
          a.btn.dropdown-toggle.dropdown-btn-view(data-toggle='dropdown') View-side
          ul.dropdown-menu
            li
              hr
              a.langs(href='/html') HTML
            li
              a.langs(href='/css') CSS
            hr
            li
              a.langs(href='/bootstrap') Bootstrap
            hr
            li
              a.langs(href='/less') LESS
            li
              a.langs(href='/sass') SASS
            li
              a.langs(href='/stylus') Stylus
            hr
        li.nav.dropdown
          a.btn.dropdown-toggle.dropdown-btn-client(href='#', data-toggle='dropdown') Client-side
          ul.dropdown-menu
            li
              hr
              a.langs(href='/javascript') JavaScript
            hr
            li
              a.langs(href='/jquery') JQuery
            hr
            li
              a.langs(href='/typescript') TypeScript
            hr
            li
              a.langs(href='/angular') Angular
            hr
            li
              a.langs(href='/react') React
            hr
        li.nav.dropdown
          a.btn.dropdown-toggle.dropdown-btn-server(href='#', data-toggle='dropdown') Server-side
          ul.dropdown-menu
            li
              hr
              a.langs(href='/nodejs') NodeJS
            hr
            li
              a.langs(href='/express') Express
            hr
        li.nav.dropdown
          a.btn.dropdown-toggle.dropdown-btn-db(href='#', data-toggle='dropdown') DB-side
          ul.dropdown-menu
            li
              hr
              a.langs(href='/mongodb') MongoDB
            hr
            li
              hr
              a.langs(href='/mongoose') Mongoose
            hr
        label#obj-title(style='color: lightsteelblue; margin-top: 4%; font-size: 13px') HTML
