script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(src="/bower_components/bootstrap-select/dist/js/bootstrap-select.js")
script(src="/plugins/timer.js")

script(src="/js/dom.js")