footer#footer
    div#github
        a(href="https://github.com/Absend/WebDjs", target="_blank")
            div(style="background-color: white; max-width: 40px; display: block; margin: auto")
                img#github(src="/images/github.png", width="40px", height="40px")