
nav.navbar.navbar-inverse.navbar-static-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/logged')
        img#brand(alt='Brand', src='./images/icon-36x36.png')
        a#main-logo-name.navbar-brand WebdJs   
      button.btn.btn-success.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.navHeaderCollapse
    
      // logo label
      label#obj-title(style='color: ghostwhite; margin-left: 20%; margin-top: 1.5%; font-size: 20px')  

      // logout and profile
      ul.nav.navbar-nav.navbar-right
        li#profile.nav
          a#btn-profile.btn(href='/profile') #{name}
        li#logout.nav
          a#btn-logout.btn(href='/logout') LogOut

      // functional options
      ul#main-menu.nav.navbar-nav.navbar-center
        li#test
          a#test-btn.btn-default.navBtn(href='/test') Test
        li    
        li#tasks
          a#tasks-btn.btn-default.navBtn(href='/tasks') Tasks
        li    
        li#dictIt
          a#dict-btn.btn-default.navBtn(href='/dict') Dictionary
        li 
        
  h4.logo-text WE BUILD JAVASCRIPT